body {
    background-color: rgb(255, 255, 255);
    max-width: 90%;
    margin: 40px auto; 
}

header {
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

main{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(206, 206, 206);
}

article {
    display: flex;
    flex-flow: row wrap;
    justify-content:center; 
    align-items: center;
    background-color: white;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
}